<!DOCTYPE html>
<html ng-app="JobApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>

  </head>
  <body ng-controller="applicantController">
	  
    <div class="container">
      <h1>Applicants</h1>
      <ul class="user-box" ng-repeat="user in list">
          <li >{{user.name}}</li>
          <li >{{user.bio}}</li>
          <li >{{user.skills}}</li>
          <li >{{user.years}}</li>
          <li >{{user.why}}</li>
          <li><button class="btn btn-warning" ng-click="removeUser(user)">Delete Me</button></li>
      </ul>
    </div>
	  
	<script src="/javascripts/main.js"></script>

  </body>
</html>